@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

body {
  margin: 0;
  font-family: "Lora", serif;
  background: rgb(231, 228, 228);
}

/* Cabeçalho*/

header {
  background-color: rgba(8, 8, 82, 0.753);
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  list-style: none;
}

header section {
  justify-self: center;
  align-items: center;
}

nav {
  justify-self: center;
  align-items: center;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

nav a:hover {
  color: black;
}

.social-media {
  height: 80px;
  width: 80px;
}

#logo {
  height: 80px;
  width: 100px;
}

/* Conteúdo da Página - Index */

h2 {
  text-align: center;
}

#foto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Conteúdo da Página - serviços */

h1 {
  text-align: center;
}

.texto {
  text-align: center;
  font-size: 1.5em;
}
main {
  display: grid;
  min-height: 70vh;
}

main section {
  margin: 10px;
  padding: 10px;
}

.imagens1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 7px black;
  text-align: center;
  width: 300px;
}

.modelos {
  width: 300px;
  height: 300px;
}

main section {
  display: grid;
  padding: 10px;
  margin: 0px;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

/* Página de Contatos*/

iframe {
  width: 70vw;
}

.linha {
  align-items: center;
}

form {
  align-items: center;
}

input {
  padding: 2px;
}

input#mensagem {
  height: 90px;
}

.formato {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

button {
  padding: 0;
  margin: 0;
}

/* Rodapé */

footer {
  background-color: rgba(8, 8, 82, 0.753);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 10vh;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer section {
  justify-self: center;
  align-self: center;
}

/* Responsividade */

@media screen and (max-device-width: 375px);
 {
  .responsive {
    display: flex;
    flex-direction: column;
  }
}
